.main {
    margin: 20px;
    text-align: center;

    .button {
        display: inline-block;
        padding: 8px 24px;
        color: white;
        opacity: 0.8;
        border-radius: 4px;
        background-color: #1d85a8;
        cursor: pointer;
        box-shadow: 0 5px #14566c;

        &:hover {
        opacity: 1;
        }

        &:active {
        position: relative;
        top: 7px;
        box-shadow: none;
        }

    }
}
